/* General Styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1350px;
  padding: 0 30px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  padding: 15px 48px;
  display: inline-block;
  vertical-align: baseline;
  background: #333333;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  border: none;
}