/* General Styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1440px;
  padding: 0 160px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  padding: 11px 28px;
  margin: 0;
  display: inline-block;
  vertical-align: baseline;
  background-color: transparent;
  border-radius: 6px;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

/* Main section */
.main-section {
  height: auto;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 20;
  padding: 40px 0;
  color: #fff;
}

.bg {
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* HEADER */
.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo a{
  display: block;
}

/* NAV */
.nav-list{
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-list li {
  padding: 10px;
  transition: all 0.4s ease;
}

.nav-list li:hover {
  font-weight: bold;
}

.nav-list li:active {
  font-weight: bold;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.active-nav {
  font-weight: bold;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left .lang {
  display: flex;
  align-items:center;
}

.lang p {
  margin: 0 10px;
  text-transform: uppercase;
}

.btn-login {
  color: #fff;
  border: 1px solid #fff;
  margin-left: 28px;
}

/* call-to-action */

.call-to-action {
  padding: 100px 0 130px 0;
  text-align: center;
}

.call-to-action h1 {
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.call-to-action p {
  font-size: 24px;
  line-height: 36px;
  width: 490px;
  text-align: center;
  margin: auto;
}

.call-to-action p span {
  display: block;
}

.btn-signup {
  border: 1px solid transparent;
  background-color: #fff;
  color: red;
  font-size: 14px;
  padding: 16px 50px;
  margin-top: 40px;
}

/* SOFTWARE SECTION */

.software-section {
  padding: 94px 0;
  flex-direction: row;
}
.software-section--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.software-section--left {
  width: 445px;
}

.section-heading {
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
}

.software-section--left p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 24px;
  text-align: justify;
}

.learn-more {
  color: #ED4C5C;
  display: block;
  text-decoration: none;
}

.software-section--right {
  position: relative;
}

.software-section--right img {
  margin-right: 20px;
}

.play-btn {
  position: absolute;
  top:calc(50% - 40px);
  left: -7%;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: none;
  background-color: #ED4C5C;
  padding: 24px 21px 24px 27px;
  cursor: pointer;
}

/* FEATURES */

.features-section {
  background-color: #fafafa;
  padding: 63px 0 125px 0;
  text-align: center;
}

.features-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 230px;
  list-style-type: none;
  justify-content: space-between;
}

.features-list li {
  position: relative;
  z-index: 25;
}

.feature {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  width: 293px;
  padding: 30px 35px;
}

.features-list li::before {
  content: '';
  display: block;
  width: 350px;
  height: 250px;
  background-image: url("../img/bg-money.png");
  position: absolute;
  z-index: -1;
  left: -10%;
  top: -85%;
}

.feature h3 {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.feature p {
  font-size: 12px;
  line-height: 18px;
}

/* TECHNOLOGY SECTION */



